.userpage-top-conatiner {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ebebeb;
  height: 50px;
}
.userpage-top-conatiner-select-menu {
  width: 450px;
}
.userpage-top-conatiner-select-menu button {
  width: 150px;
  height: 50px;
  border: none;
  color: #a8a8a8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background: none;
}
.userpage-top-conatiner-utility{
    display: flex;
    flex-direction: row;
    align-items: center;
height: 49px;
border: 1px solid red;
}
.userpage-top-conatiner-utility h1{

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 21px;
color: #212121;
}
