.property-img-card-container img {
  padding: 0;
  margin-top: -2px;
  margin-left: -2px;
  object-fit: cover;

  width: 400px;
  height: 190px;
  background: #ffffff;
  border-radius: 11px;
}
.property-img-card-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scroll-container {
  height: 87%;
  overflow: scroll;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.property-card-container {
  display: flex;
  align-items: center;
  width: 396px;
  height: 320px;
  border: 1.5px dashed #c9c17f;
  border-radius: 11px;
}
.propertyname-container {
  margin-top: 4px;
  height: 35px;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.propertyname-container img {
  margin-left: -40px;
  width: 20px;
  height: 20px;
}
.view-image-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.propertyname-container-heading {
  margin: 0px 15px;
  height: 60px;

  margin-top: -0px;
}
